<header class="header-section">
  <div class="menu-items">
    <div class="container">
      <div class="nav-section">
        <div class="logo">
          <img src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="menu">
          <nav>
            <ul>
              <li><a href="">About</a></li>
              <li><a href="">How It Works</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">FAQ</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
          <div class="search">
            <input type="text" placeholder="Search Website">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main-section">
      <h1>Designs your eyeballs will thank you for</h1>
      <a href="">Get Started Today</a>
      <span>Lorem ipsum dolor sit amet, consectetur </span>
    </div>
  </div>
</header>
