<section class="service-section">
  <div class="container">
    <div class="service-items">
      <div class="service-item">
        <h2 class="service-heading">A fantastic heading</h2>
        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </div>
      <div class="service-item">
        <h2 class="service-heading">Good day blokes</h2>
        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </div>
      <div class="service-item">
        <h2 class="service-heading">Blaz Robar for president</h2>
        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </div>
      <div class="service-item">
        <h2 class="service-heading">vote for robar</h2>
        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
      </div>
      <img src="../../../assets/images/blue.png" alt="">
    </div>
  </div>
</section>
