.join-bc{
  background-image: url("../../../assets/images/bg4.png");
  position: relative;

.color-dark{
  background-color: #8824cd;
  color: #fff;
}
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
    background: rgba(126, 83, 243, 0.678);
  }

}
@import "src/app/scss/components";
