/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 1200px;
  margin: auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
